.header-bottom {

    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__heading {
        margin-bottom: 17px;
        color: white;
        font-size: 42px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0px;
        text-align: right;
        text-transform: uppercase;
    }

    &__heading-two {
        margin-bottom: 60px;
        color: white;
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0px;
        text-align: right;
        text-transform: uppercase;
    }

    &__icons-wrapper {
        max-width: 424px;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 68px;
    }

    &__iconAndDescr {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            margin-right: 40px;
        }
    }

    &__icon {
        margin-bottom: 21px;
    }

    &__descr {
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        letter-spacing: 0px;
        text-align: center;
        color: white;
    }

    &__btn-wrapp {
        display: flex;
        flex-direction: column;
        align-items: flex-end
    }

    &__button {
        padding: 12px 28px 13px 28px;
        font-size: 16px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    &__more {
        font-size: 16px;
        font-weight: 500;
        line-height: 25px;
        letter-spacing: 0px;
        text-align: right;
        color: white
    }

    &__more-link {
        font-family: 'MuseoModerno', sans-serif;
        text-transform: uppercase;
        color: white
    }
}